*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    background-image: radial-gradient(rgb(127, 214, 127) 50%,rgb(247, 247, 95) ,rgb(226, 224, 224));
}


.container {
     
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50vw;
     min-height: 50vh;
     height: auto;
     /* border: 1px solid red; */
     box-shadow: 5px 10px 0 0 grey;

     background-image: linear-gradient(225deg,white 5%,rgb(172, 106, 235) 10%);
     border-radius: 15px 0 15px 15px;
     font-weight: 800;
     color: rgb(44, 14, 4);
     overflow: hidden;
 }

 #reload {
     position: absolute;
     margin: 0;
     bottom: 0;
     width: 100%;
     height: 10%;
     min-height: 20px;
     background-color: aqua;
     color: blue;
     font-weight: 1000;
     border: none;
     cursor: pointer;
     font-size: large;
 }

 #reload:hover {
     background-color: rgb(6, 158, 158);
     color: white;
     font-size: x-large;
 }

 #quote {
     display: flex;
     padding-right: 10px;
     position: absolute;
     top: 25%;
     left: 50%;
     transform: translate(-50%);
     width: 90%;
     height: 50%;
     /* border: 1px solid green; */
     text-align: center;
     justify-content: center;
     align-items: center;
     text-overflow: ellipsis;

 }

 #authr {
     position: absolute;
     bottom: 15%;
     right: 5%;
 }

 #tweeti {
     /* width: 5%;
     min-width: 20px; */
     right: 0;
     position: absolute;
     color: rgb(5, 159, 197);
     animation: tweetRot 1s 1;
     cursor: pointer;
     font-size: large;
 }

 @keyframes tweetRot {
     from {
         transform: rotateZ(0deg);
     }

     to {
         transform: rotateZ(360deg);
     }
 }

 @media screen and (max-width: 400px) {
     .container {
         width: 96vw;

         height: 100%;

     }

 }